@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');

html{
  background-color: rgb(241, 245, 246);
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
nav{
  display: block;
}

header{
grid-template-columns: 200px 1fr;
background-color:  #a8abb6;
height: 80px;
display: flex;
justify-content: space-between;

align-items: center;
padding: 0 100px;
}

.sticky {
  position: sticky;
  top: 0;
  transition: all 550ms;
  background: #fff;
  height: 60px;
  padding: 0 200px;
  z-index: 1;
}

.sticky a {
  color: #222;
}

.sticky nav a:hover {
  background: #425e6a;
  color: #fff;
  position: relative;
}

.sticky nav a:hover::after {

  background: #fa6e06;
}

header img{
  width: 79px;
  
}
header nav {
  text-align: right;
}


header nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: all 550ms;
  font-size: 20px;
  font-weight: bolder;
  
}

header nav a:hover {
  color: #fff;
  background: #2f5d62;
  position: relative;
}

header nav a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #ffb037;
}

.dropbtn {
  text-transform: uppercase;
  background-color: #ffffff00;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
  border: none;
  transition: all 550ms;
  border-radius: 0;
  
}

.sticky .dropbtn {
  color: #222;
  font-weight: 600!important;

}

.sticky img {
  width: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
  

}
main{
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  color: rgba(0, 0, 0, 0.705);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: rgba(221, 221, 221, 0.5); }

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  color: #fff;
  background: #2f5d62;
} 

.dropdown:hover::after  {
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #ffb037;
}


.img {
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

} 


fieldset { 
display: grid;
grid-template-columns: repeat(2 , 1fr);
gap: 15px;
border: 0;
}

fieldset div:nth-of-type(3),fieldset div:nth-of-type(4){
  grid-column: 1 / -1;
}

label {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
}

input[type=text], select, textarea {
    width:100%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    resize: vertical ;
    height: 60px;
  }
  
  input[type=submit] {
    background-color: #5a8b90d1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
  }
  
  input[type=submit]:hover {
    background-color: rgba(32, 106, 93, 0.8);
  }
  
.container{
  padding: 20px;
  /* margin: auto;
  position: absolute;
left: 20%;

  padding: 0;
   */
}

.info{
  /* height: 596px;
  margin: auto;
  position: absolute; */
  /* left: 40%; */
  text-align: left;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.center{
  margin-top: 105px;
  line-height: 60px;
}

.info .email{
  font-weight: bold;
}

.contofcontainer{
  background-color: #fff;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 400px;
  width:1200px;
  position: relative;
  top: -200px;
  filter: drop-shadow(2px 4px 3px rgba(0,0,0,0.2));
  border-radius: 5px;
  margin-bottom: -500px;
}

.contofcontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  width: 25%; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
  border-radius: 5px 5px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardcont{
  padding: 2px 16px;
  text-align: center;
  font-size: 25px;
  line-height: 10px;
}
.cardcont p{
  font-size: 20px;
}
.cardscont{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
  width:80%;
  position: relative;
  left: 18%;
  top:15px;
  
}
.bigcont{
position: relative;
}

.us{
  text-align: center;
  font-size: 40px;
  padding:20px;
  margin-top: 400px;
  background-color:#5a8b90d1;
}


footer p{
  background-color:  #a8abb6;
  margin-top: 5px;
}
.flip-card-front img{
  border-radius: 20px;
}

#footer {
  margin-top: 50px;
  position: relative;
  height: 120px;
  background-color: #a8abb6;
}


.footer-follow {
  text-align: center;
  padding: 0;

}
.footer-follow li {
  display: inline-block;
}

.footer-follow li a {
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
border-radius: 3px;
background-color: #f0b152;
color:#FFF;
margin-top:30px;
}

.footer-copyright p {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
 /*  margin: 0; */
color:#383835;

}


.form p {
  font-size: 32px;
  font-weight: 500;
  padding:  0 20px;
  position: relative;
}

.form p::before {
  content: '';
  position: absolute;
  left: 5px;
  height: 70%;
  width: 5px;
  background: #ffb037;
  top: 50%;
  transform: translateY(-50%);
}