header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  z-index: 20;
  transition: all ease-in-out 550ms;
  background: rgba(255, 255, 255, 0.15);
  height: 80px;
  margin-top: 30px;

}

.sticky {
  position: sticky;
  top: 0;
  transition: all 550ms;
  background: #fff;
  height: 80px;
  width: 100%;

  margin: 0;
}

.sticky img {
  width: 50%;
}

.sticky a {
  color: #222;
}

.sticky nav a:hover {
  background: #425e6a;
  color: #fff;
  position: relative;
}

.sticky nav a:hover::after {

  background: #fa6e06;
}

header nav {
  text-align: right;
}

header nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: all 550ms;
  font-size: 20px;
  font-weight: bolder;
}

header nav a:hover {
  background: #fff;
  color: #2f5d62;
  position: relative;
}

header nav a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #ffb037;
}

.dropbtn {
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  font-size: 10px;
  font-weight: bolder;
  border-radius: none;
  transition: all 550ms;
  padding: 10px 20px;
    font-size: 20px;
}

.dropbtn:hover{
  background: #fff;
  color: #2f5d62;
}

.dropbtn:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #ffb037;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-weight: bolder;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 158px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  color: rgba(0, 0, 0, 0.705);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: rgba(221, 221, 221, 0.5);}

.dropdown:hover .dropdown-content {display: block;}


