@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Freckle+Face&family=Josefin+Sans:ital,wght@0,400;1,300&family=Original+Surfer&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');


html{

    background: #f4f9f9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

body{
    display: grid;
    grid-template-rows: 0px 1fr 150px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.sticky {
  position: sticky;
  top: 0;
  transition: all 550ms;
  background: #fff;
  height: 80px;
  width: 100%;
}

header{
   grid-row: 1 / 2;
  grid-column: 1 / 2; 
   display: grid;
  grid-template-columns: 100px 1fr; 
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  z-index: 20;
  transition: all ease-in-out 550ms;
  font-family: 'Roboto', sans-serif;
  background: rgba(255, 255, 255, 0.15);
  height: 80px;
  margin-top: 30px;

}
header img{
  width: 150px;
  padding-left: 50px ;
}
.sticky a {
  color: #222;
}



.sticky .dropbtn{
  color: #222;
}


.sticky nav a:hover {
  background: #425e6a;
  color: #fff;
  position: relative;
}

.sticky nav a:hover::after {

  background: #fa6e06;
}
header nav {
  text-align: right;
  
}


header nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: all 550ms;
  font-size: 20px;
  font-weight: bolder;
}

header nav a:hover {
  background: #fff;
  color: #2f5d62;
  position: relative;
}
.dropbtn:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #ffb037;
}

header nav a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #ffb037;
}
.dropbtn {
 
  font-family: 'Roboto', sans-serif;

  text-transform: uppercase;
  background-color: #ffffff00;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
  border: none;
  transition: all 550ms;

}
main section a {
    display: block;
    text-align: center;
    font-size: 45px;
    padding-top: 40px;

}
.dropdown {
  position: relative;
  display: inline-block;
  font-weight: bolder;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 158px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgba(0, 0, 0, 0.705);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgba(221, 221, 221, 0.5);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    color: #2f5d62;
    background-color: #ffffff;
}

footer{
  margin-top: 30px;
}

#footer {
  position: relative;
  background-color: #a8abb6
  
}


.footer-follow {
  text-align: center;
  padding: 0;
 

}
.footer-follow li {
  display: inline-block;
}

.footer-follow li a {
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
border-radius: 3px;
background-color: #f0b152;
color:#FFF;
margin-top: 30px;
}

.footer-copyright p {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
margin-top: 25px;
color:#383835;

}

/* slider */
/* slider */

.img-slider{
  position: relative;
  width: 100%;
  height: 660px;
  margin : auto;
 margin-bottom: 30px;

}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
  text-align: center;
}


.img-slider .slide img{
  z-index: 1;
  width: 100%;
  height: 600px;
}

.img-slider .slide .info h1{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 55px;
  position: absolute;
  top: 150px;
  left: 45%;
font-family: 'Dancing Script', cursive;
}
.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 40px;
  position: absolute;
  top: 250px;
  left: 42.7%;
font-family: 'Dancing Script', cursive;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}

  .hotels img {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;  
  }
  
.hotels{
  display: grid;     
  grid-template-columns: 302px 301.5px 301.5px;
  gap: 40px;
  padding-left: 460px;
 padding-top: 20px;
}

.img1{
  display: grid;
  grid-template-rows: 1fr 180px;
  border: solid 1px rgba(187, 187, 187, 0.247);
  background-color: #eaf4f8
 
}
.img1 h2, p{
  position: relative;
  left: 10px;
}
.img1 img{
  width: 301.5px;
  height: 220px;
}
.icons i{
  margin-top: 10px;
  padding-left: 2px;
  width: 30px;
  text-align: center;
}
.icons1 i{
  display: inline-block;
  text-align: center;
  margin-top: 10px;
 margin-left: 20px;
  width: 25px;
}

.buttonBooking{
  height: 40px;
  width: 120px;
color: rgb(0, 0, 0);
background-color: #f0b152;
border: none;
border-radius:none;
font-size: 16.5px;
font-weight: bold;
}
.buttonBooking:hover{
  background: #a8abb6;
  color: rgb(0, 0, 0);
}
.buttonB{
  width: 10px;
}
.secbtn{
  margin-left: 890px;
}
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';


.buttonBooking {
  transition: all 0.3s;
  position: relative;
}
.buttonBooking {
  transition: all 0.3s;
}
.buttonBooking::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.buttonBooking:hover {
  letter-spacing: 2px;
}
.buttonBooking:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.buttonBooking::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.buttonBooking:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
