@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');


/* 
body {
    margin: 0;
    display: grid;
    grid-template-rows: 150px 1fr 100px;
    gap: 30px;
    background-color: #ebf5f5;
    font-family: 'Noto Serif', serif;
    
  }



  .mainSection{
      position: relative;
      bottom: 200px;
      z-index: -1;
  }
  
  .slideshow-container {
      min-width: 100%;
      height: 920px;
  }

  .slideshow-container div img{
    width: 100%;
    height: 900px;
  }

  



    .sticky {
        position: sticky;
        top: 0;
        transition: all 550ms;
        background: #fff;
        height: 50px;
        width: 100%;
        /* padding: 0 200px; */
     /*  } */
      
  /*     header{
         grid-row: 1 / 2;
        grid-column: 1 / 2; 
         display: grid;
        grid-template-columns: 100px 1fr; 
        align-items: center;
        width: 100%;
        margin: 0 auto;
        z-index: 20;
        transition: all ease-in-out 550ms;
        background-color: #a8abb6;
        height: 80px;
      } */

  /*     header {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        display: grid;
        grid-template-columns: 100px 1fr;
        align-items: center;
        width:1100px;
        margin: 0 auto;
        z-index: 20;
        transition: all ease-in-out 550ms;
        background: rgba(255, 255, 255, 0.15);
        height: 80px;
        padding: 0 100px;
        margin-top: 30px;
      }
      
      .sticky a {
        color: #222;
      }
      
      
      
      .sticky .dropbtn{
        color: #222;
      }
      
      
      .sticky nav a:hover {
        background: #425e6a;
        color: #fff;
        position: relative;
      }
      
      .sticky nav a:hover::after {
      
        background: #fa6e06;
      }
      header nav {
        text-align: right;
        
      }
      
      
      header nav a {
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        padding: 10px 20px;
        transition: all 550ms;
        font-size: 20px;
        font-weight: bolder;
      }
      
      header nav a:hover {
        background: #fff;
        color: #2f5d62;
        position: relative;
      }
      
      
      header nav a:hover::after {
        content: '';
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        position: absolute;
        background: #ffb037;
      }



  .dropbtn {
    font-family: 'Noto Serif', serif;
      text-transform: uppercase;
      background-color: #ffffff00;
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: bolder;
      padding: 10px 20px;
      border: none;
      
    }

    .sticky .dropbtn {
      color: #222;
      
     
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
      font-weight: bolder;
      

    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      
    }
    
    .dropdown-content a {
      color: rgba(0, 0, 0, 0.705);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      
    }
    
    .dropdown-content a:hover {background-color: rgba(221, 221, 221, 0.5); }
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {
      background: #fff;
      color: #2f5d62;
    } 

    .dropdown:hover::after  {
      content: '';
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      position: absolute;
      background: #ffb037;
    } */


  
    body {
      margin: 0;
      display: grid;
      grid-template-rows: 150px 1fr 100px;
      gap: 30px;
      background-color: #e4eeee;
     font-family: 'Roboto', sans-serif;;
      
    }


  /*   .mainSection{
        position: relative;
        bottom: 200px;
        z-index: -1;
    }
    
    .slideshow-container {
        min-width: 100%;
        height: 920px;
    }

    .slideshow-container div img{
      width: 100%;
      height: 900px;
    } */

    
    header {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      display: grid;
      grid-template-columns: 100px 1fr;
      align-items: center;
      width:1100px;
      margin: 0 auto;
      z-index: 20;
      transition: all ease-in-out 550ms;
      background: rgba(161, 158, 163, 0.226);
      height: 80px;
      padding: 0 100px;
      margin-top: 30px;
    }
 /*    header{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    z-index: 111;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 1140px;
    margin: 25px auto 0;
    background: rgba(255, 255, 255, 0.15);
    margin-top: 30px;
    padding: 0 20px;
    } */

    .sticky {
        position: sticky;
        top: 0;
        transition: all 550ms;
        background: #fff;
        height: 70px;
        width: 100%;
        padding: 0 200px;
        margin: 0;
      
      }
      
      .sticky a {
        color: #222;
      }
      
      .sticky nav a:hover {
        background: #425e6a;
        color: #fff;
        position: relative;
      }
      
      .sticky nav a:hover::after {
      
        background: #fa6e06;
      }
      
      header nav {
        position: relative;
        left: 100px;
        
        text-align: right;
      }
      
      
      header nav a {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        padding: 10px 20px;
        transition: all 550ms;
        font-size: 20px;
        font-weight: bolder;
        
        
      }
      
      header nav a:hover {
        background: #2f5d62;
       color: #fff; 
        position: relative;     
      }
      
      header nav a:hover::after {
        content: '';
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        position: absolute;
        background: #ffb037;
      }

    .dropbtn {
      font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        background-color: #ffffff00;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bolder;
        padding: 10px 20px;
        border: none;
        transition: all 550ms;
        
      }

      .sticky .dropbtn {
        color: #222;
        
       
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        font-weight: bolder;
        

      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
      }
      
      .dropdown-content a {
        color: rgba(0, 0, 0, 0.705);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        
      }
      
      .dropdown-content a:hover {background-color: rgba(221, 221, 221, 0.5); }
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {
        color: #fff;
        background : #2f5d62;

      } 

      .dropdown:hover::after  {
        content: '';
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        position: absolute;
        background: #ffb037;
      }

      header img{
        
        width: 150px;
       
       
        
      }

     
.video video{
  width: 80%;
  height: 70%;
  border: solid 1px #f0ebcc;
  position: relative;
  left: 10%;
  margin-bottom: 50px;

}

/* .videoC{

} */




    #footer {
        position: relative;
       
        background-color: #a8abb6
      }
      
      
      /* 
      .footer-logo>a>img {
        max-height: 80px;
      } */
      .footer-follow {
        text-align: center;
        padding: 0px;
      }
      .footer-follow li {
        display: inline-block;
       /*  margin-right: 10px;
        margin-bottom: 13px; */
      }
      
      .footer-follow li a {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 3px;
      background-color: #f0b152;
      color:#FFF;
      }
      
      .footer-copyright p {
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
       /*  margin: 0; */
      color:#383835;
      
      
      }